.auct {
  box-sizing: border-box;
  padding-bottom: 80px;
  padding-top: 80px;
  background: linear-gradient(
    336.61deg,
    #251928 16.25%,
    rgba(37, 25, 40, 0) 91.6%
  );
  position: relative;
  display: grid;
  height: 1233px;
  width: 100vw;
  overflow: hidden;
}
